<div class="col-md-5 m-auto">
  <form [formGroup]="userItem" (ngSubmit)="onFormsSubmit()">
    <h3>Add or Edit User</h3>

    <div class="form-group">
      <label for=""> Name</label>
      <input
        formControlName="firstName"
        type="text"
        placeholder="Enter Here"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">Surname</label>
      <input
        formControlName="lastName"
        type="text"
        placeholder="Enter Here"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">Email</label>
      <input
        required
        formControlName="email"
        type="email"
        placeholder="Enter Here"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">ID Number</label>
      <input
        formControlName="idNumber"
        type="number"
        placeholder="enter here"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">Birth Day</label>
      <input
        formControlName="birthDate"
        type="date"
        placeholder="Enter Here"
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="">category</label>
      <select formControlName="category" class="custom-select form-control">
        <option
          *ngFor="let category of categories"
          [value]="[category.categoryName]"
        >
          {{ category.categoryName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="">Status</label>
      <select formControlName="status" class="custom-select form-control">
        <option *ngFor="let status of statuses" [value]="[status.statusName]">
          {{ status.statusName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <button
        (click)="onFormsSubmit()"
        type="button"
        class="btn btn-dark col-md-3 d-block"
      >
        Add
      </button>
      <button (click)="onSaveBtn()" type="button" class="btn btn-primary">
        save
      </button>
    </div>
  </form>
</div>

<!-- [disabled]="!form.valid" -->
