<nav class="nav nav-pills justify-content-between">
  <a
    class="nav-item nav-link"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/users"
    >Users</a
  >
  <a
    class="nav-item nav-link"
    routerLinkActive="active"
    routerLink="/user-details"
    >User Details</a
  >
  <a
    class="nav-item nav-link"
    routerLinkActive="active"
    routerLink="/categories"
    >Categories</a
  >
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="/statuses"
    >Statuses</a
  >
</nav>
