<br />
<app-category-modal
  [showModal]="showModal"
  (showModalEmitter)="onShowModalSubscriber($event)"
></app-category-modal>

<a (click)="onAddCategoryBtn()" class="btn btn-primary">Add category</a>
<div class="col-md-5 m-auto">
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Categories</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td scope="col">{{ category.categoryName }}</td>
        <td scope="col btns">
          <button
            (click)="onUpdateCategoryBtn(category)"
            class="btn btn-warning"
          >
            Update
          </button>
          <button
            (click)="onDeleteCategoryBtn(category._id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
