.nav {
  align-items: center;
  border-radius: 5px;
}
.nav-item {
  border: 2px solid rgb(233, 227, 227);
  border-radius: 5px;
  width: 200px;
  height: 70px;
  margin: 5px 20px;
  text-align: center;
  font-size: 20px;
}
.navbar {
  margin-bottom: 60px;
}
