<div>
  <a routerLink="/users/create" class="btn btn-info">Add User</a>
  <br />
  <div class="col-md-4 m-auto search-hero">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder=" search users "
    />
  </div>
  <br />
  <table class="table mt-2 m">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">ID Number</th>
        <th scope="col">Birth Day</th>
        <th scope="col">Category</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of pageSize | filter : searchText">
        <td scope="col">{{ user.firstName }}</td>
        <td scope="col">{{ user.lastName }}</td>
        <td scope="col">{{ user.email }}</td>
        <td scope="col">{{ user.idNumber }}</td>
        <td scope="col">{{ user.birthDate | date }}</td>
        <td scope="col">{{ user.category }}</td>
        <td scope="col">{{ user.status }}</td>
        <td scope="col">
          <a routerLink="/users/update/{{ user._id }}" class="btn btn-warning"
            >Update</a
          >

          <button (click)="onDeleteUserBtn(user._id)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <mat-paginator
    [length]="this.users.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
