<br />
<br />
<app-status-modal
  [showModal]="showModal"
  (showModalEmitter)="onShowModalSubscriber($event)"
>
</app-status-modal>

<a (click)="onAddStatusBtn()" class="btn btn-info">Add Status</a>
<div class="col-md-5 m-auto">
  <table class="table mt-2">
    <thead>
      <tr>
        <th scope="col">Statuses</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let status of pageSize">
        <td scope="col">{{ status.statusName }}</td>
        <td scope="col btns">
          <button (click)="onUpdateStatusBtn(status)" class="btn btn-warning">
            Update
          </button>
          <button
            (click)="onDeleteStatusBtn(status._id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [length]="this.statuses.length"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
